.main {
  width: calc(100% - 150px);
  height: calc(100% - 150px);
  max-width: 800px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
}

.titleText {
  flex: 1 1 auto;
  text-align: center;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.histogram, .empty {
  position: absolute;
  top: 85px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px !important;
  overflow-y: auto;
  z-index: -1;
}

.commit {
  text-align: center;
  height: 5px;
  position: relative;
  margin-bottom: 1px;

  > * {
    height: 100%;
  }

  .deletions {
    position: absolute;
    right: 50%;
    background-color: #C62828;
  }

  .additions {
    position: absolute;
    left: 50%;
    background-color: #558B2F;
  }
}
